.body-profile {
    /* outline: black solid; */
    margin-top: 350px;
    height: 80vh;
}

.au-header{
    /* outline: white solid 5px; */
    /* margin-top: 200px; */
    color:rgb(68, 43, 10);
    top:0;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.body-body {
    width:100vw;
    display: flex;
    justify-content: center;
}

.body-about {
    /* outline: black solid; */
    /* background-color: aliceblue; */
    width: 80vw;
    font-size: 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    /* justify-content: center; */

}


 