.list{
    /* outline: grey solid 3px; */
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    min-height: 40vh;
    width: 100vw;
    color:rgb(8, 38, 65);
    flex-wrap: wrap;


}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color: black;
}

.upper-container{
    /* outline: black solid; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px
}

.list-containter-tog{
    /* outline: red solid 5px; */
    display: flex;
    justify-content: center;
    padding: 5px;
}

.list-container{
    /* outline: orange solid 5px; */
    display: inline-flex;
    width: 100vw;
    justify-content: center;
    text-align: center;
    /* padding-top: 10px;
    padding-bottom: 5px; */
    flex-direction: column;
  

}
.list-container option{
    /* outline: orange solid 5px; */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
   

}

.list-container-opt {
    /* outline: red solid 5px; */
    display: flex;
    justify-content: center;
    text-align: center;
    /* padding: 10px; */
    width: 100px;
    height:30px;
}

.btn-container {
    display: flex;
    justify-content: center;
   margin-top: 20px;
}

.list-button {
    outline: white solid;
    border-radius: 0;
    color:green;
    background-color: rgba(213, 238, 166, 0.781);
    height: 25px;
    text-align: center;
    font-size: small;
    
   

}




  