.body {
  display: grid;
  grid: repeat(2, 1fr);
  margin: 12px;
  padding: 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-list-container {
  outline: black solid 5px;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.list-title {
  /* outline: black solid; */
  display: flex;
  width: 100vw;
  font-size: 30px;
  justify-content: center;
}

.list-list {
  width: 100vw;
  display: grid;
  border: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 1px;
  padding: 1px;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    width: 100vw;
  }
}
