.body{
  position: static;
  margin:0;
  outline: black solid;
  display: grid;
  grid: repeat(2,1fr);
}

.list-list{
  width: 100vw
}

.card-container {
  width: 40vw;
  height:40vh;
}

.card-body-container{
  width: 100vw;
  height: 10vh;
}

.card {
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 20px gainsboro;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition-delay: 200ms ease-in;
}

/* .card-img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
} */
/* 
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
} */

.card-title {
  background-color: rgba(245, 245, 220, 0.659);
  padding: 1rem;
  outline: brown solid;
}

.card-description {
  outline: green solid;
  position: absolute;
  padding: 1rem;
  display: flex;
  /* position: sticky; */
  background-color: rgba(245, 245, 220, 0.659);
}

.card {
  outline: white solid;
  width: 35vww;
}

.card-img {
  /* outline: white solid; */
  color: transparent;
  /* width:50vw; */
}

.button-box{
  display: flex;
  justify-content: right;
  bottom: 0;
  position: absolute;
}

.card-button {
  background: transparent;
  right:0;
  justify-content: right;
}

.folder-button {
  background: transparent;
  right:0;
  justify-content: right;
}
