.body {
  display: grid;
  grid: repeat(2, 1fr);
  margin: 12px;
  padding: 10px;
  font-size: 12px;
  display: flex;
  text-align: center;
}

.card-list-container {
  margin-top: 60px;
  margin-bottom: 30px;
}

.list-title {
  display: flex;
  width: 100vw;
  font-size: 30px;
  justify-content: center;
  position: static;
}

.list-list {
  width: 35vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    width: 100vw;
  }
}
