.body {
  display: grid;
  grid: repeat(2, 1fr);
  margin: 12px;
  padding: 10px;
  font-size: 12px;
  display: flex;
  text-align: center;
}

.card-list-container {
  margin-top: 60px;
}

.list-body {
  display: flex;
  font-size: 30px;
  justify-content: center;
  position: static;
  /* outline: black solid; */
}

.list-list {
  width: 100vw;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    width: 100vw;
  }
}
