.body{
  position: static;
  margin:0;
  outline: rgb(74, 113, 16) solid;
  background-color: rgb(230, 230, 163);
  /* display: grid; */
  /* grid: repeat(2,1fr); */
  justify-content: center;
}

.list-list{
  width:40vw
}

.card-container {
  width: 40vw;
  height:40vh;
}

.card-body-container{
  width: 100vw;
  height: 10vh;
}

.card {
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 20px gainsboro;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition-delay: 200ms ease-in;
}


.card {
  outline: white solid;
  width: 35vww;
}

.card-img {
  /* outline: white solid; */
  color: transparent;
  /* width:50vw; */
}

.button-box{
  display: flex;
  justify-content: right;
  bottom: 0;
  position: absolute;
}

.card-button {
  background: transparent;
  right:0;
  bottom: 0;
  justify-content: right;
}



.folder-button {
  background: transparent;
  right:0;
  justify-content: right;
}

.plant-name{
  top:0;
  background-color: rgb(238, 230, 163);
  
}
.name-desc {
  outline: white solid;
}

.plant-description{
  /* position: absolute;
  bottom: 0; */
  background-color: rgb(238, 230, 163);
}

.buttons {
  position: absolute;
  bottom: 0;
  background-color: rgb(238, 230, 163);
}
